.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 70px;
}

.banner p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
